= form_for @tracker do |f|
  - if @tracker.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tracker.errors.count, "error")} prohibited this tracker from being saved:"
      %ul
        - @tracker.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :defcon_status
    = f.number_field :defcon_status
  .field
    = f.label :victory_points
    = f.number_field :victory_points
  .field
    = f.label :action_round
    = f.number_field :action_round
  .field
    = f.label :turn
    = f.number_field :turn
  .field
    = f.label :us_military_ops
    = f.number_field :us_military_ops
  .field
    = f.label :ussr_military_ops
    = f.number_field :ussr_military_ops
  .field
    = f.label :us_space_race
    = f.number_field :us_space_race
  .field
    = f.label :ussr_space_race
    = f.number_field :ussr_space_race
  .actions
    = f.submit 'Save'
